---
export const prerender = false

import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import Brew from '../components/Brew.astro'

const brews = await getCollection('brews')
---

<BaseLayout title='Brews - Jacob Godwin'>
  <div class='flex flex-col gap-10'>
    <div class='flex flex-col items-center gap-10'>
      <div>Currently Brewing:</div>
      {
        brews.slice(0, 1).map((brew) => {
          return (
            <Brew
              date={brew.data.date}
              time={brew.data.time}
              beans={brew.data.beans}
              roaster={brew.data.roaster}
            />
          )
        })
      }
    </div>
    <div class='flex items-center flex-col gap-10'>
      <div>Past Brews:</div>
      <div class='grid grid-cols-4 max-sm:grid-cols-2 gap-10'>
        {
          brews.slice(1, brews.length).map((brew) => {
            return (
              <Brew
                date={brew.data.date}
                time={brew.data.time}
                beans={brew.data.beans}
                roaster={brew.data.roaster}
              />
            )
          })
        }
      </div>
    </div>
  </div>
</BaseLayout>

<style></style>
