---
import { Icon } from 'astro-icon/components'

import { SOCIALS } from '@/config'

import '@/styles/globals.css'

const currentDate = new Date().getFullYear()
---

<footer
  class='flex justify-between items-center p-10 flex-wrap max-sm:flex-col max-sm:gap-4 min-w-full'
>
  <ul class='flex items-center gap-6'>
    {
      SOCIALS.map(
        (item) =>
          item.show && (
            <li>
              <a class='social max-lg:hidden' href={item.url} target='_blank'>
                {item.name}
              </a>
              <a class='social lg:hidden' href={item.url} target='_blank'>
                <Icon name={item.icon} height={30} width={30} />
              </a>
            </li>
          )
      )
    }
  </ul>
  <div>
    &#169; <a class='social' href='work'>Jacob Godwin</a>&nbsp;{currentDate}
  </div>
</footer>
