---
import { getCollection } from 'astro:content'
import Coffee from 'phosphor-astro/Coffee.astro'
import Waveform from 'phosphor-astro/Waveform.astro'
import BookBookmark from 'phosphor-astro/BookBookmark.astro'
import Brew from './Brew.astro'
import Book from './Book.astro'

const brews = await getCollection('brews')
const books = await getCollection('books')
---

<aside class='flex flex-col items-center justify-center gap-10 col-start-4'>
  <div class='flex flex-col items-center gap-4'>
    <Coffee height={34} width={34} />
    {
      brews.slice(0, 1).map((brew) => {
        return (
          <Brew
            date={brew.data.date}
            time={brew.data.time}
            beans={brew.data.beans}
            roaster={brew.data.roaster}
            styles='text-sm gap-1'
          />
        )
      })
    }
  </div>
  <div class='flex flex-col items-center gap-6 max-w-48'>
    <BookBookmark height={34} width={34} />
    {
      books.map((book) => {
        return (
          <Book
            title={book.data.title}
            author={book.data.author}
            styles='text-sm gap-1'
          />
        )
      })
    }
  </div>
</aside>
